* {
    border-width: 3px;
    border-style: solid;
    border-color: black;
    float: left;
}
header {
    width: 1000px;
    height: 100px;
    margin: auto;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

nav {
    width: 1000px;
    height: 50px;
    margin: auto;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

#ImageBig {
    width: auto;
    height: 10px;
   
}

main {
    width: 1000px;
    margin: auto;
    border-width: 3px;
    border-style: solid;
    border-color: black;
} 

article {
    height: 600px;
    padding: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

.big {
    width: 580px;
    margin: 20px 20px 20px 20px;
} 

.small {
    width: 300px;
    margin: 20px 20px;
}

footer { 
    width: 1000px;
    height: 100px;
    padding-bottom: 40px;
    clear: both;
    border-width: 3px;
    border-style: solid;
    border-color: black;
} 
