header {
  width: 900px;
  height: 50px;
  background-color: #0400F5;
  border-width: 100px

}

nav {
  width: 900px;
  height: 50px;
  margin: auto;
  background-color: #EF1515;
}

bigimage {
  width: 100%;
  height: 300px;
}

main {
  width: 900px;
  background-color: #EF1515;
  margin: auto;
} 

footer { 
  width: 900px;
  height: 50px
  background #EF1515
  
}